{{- $machine := promptChoiceOnce . "machine" "Which machine is this" (list "personal" "work") -}}

[data]
    machine = {{ $machine | quote }}
    work = {{ eq $machine "work" }}

[edit]
	command = "nvim"
